<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js
  '></script>
  <script src="main.js"></script>
</head>
<body>
  <div id='container'>
    <header>
      <h1>Microblog Groups</h1>
      <nav>
        <ul>
          <li>
            <% if current_user %>
              <a href='/sign-out'>Sign Out</a>
            <% else %>
              <form method='POST' action='/sign-in'>
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="Go">
              </form>
            <% end %>
          </li>
        </ul>
      </nav>
      <%= flash[:notice] if flash[:notice] %>
      <div class='clear'></div>
    </header>

    <%= yield %>
  </div>
</body>
</html>
