body {
  color: rgb(9,9,9);
  font: 13px Arial;
}

.block-container {
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
}

.group {
  background: rgba(250, 193, 114, 0.34);
  margin: 15px;
  padding: 15px;
}

ul { margin: 0; padding: 0; }

nav{
  margin: 15px;
  padding: 15px;
  background-color: rgba(104, 211, 232, 0.2);
}

.names, .repo {
  background-color: rgba(104, 211, 232, 0.2);
  height: 50px;
  padding: 5px;
}

nav ul {
  list-style: none;
}

nav ul li{
  display: inline-block;
}

nav ul li input{
  display: inline-block;
}

