* { box-sizing: border-box; }

body {
  color: rgb(20,44,52);
  font: 1.32em Arial;
}

#container {
  max-width: 1024px;
  margin: 0 auto;
}

header h1 {
  margin: 15px;
  float: left;
  margin-top: 22px;
}

h2 {
  font-size: 0.9em;
  margin: 8px 0;
}

.group-container{
  width: 100%;
}

.block-container {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

#groups {
  width: 100%;
  text-align: left;
}

.group {
  background: rgba(250, 193, 114, 0.24);
  padding: 15px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 24.49%;
  min-height: 340px;
  vertical-align: top;
}

.repo input {
  font-size: 0.7em;
  margin-bottom: 9px;
  width: 100%
}

.repo a {
  font-size: 0.7em;
}

ul { margin: 0; padding: 0; }

header {
  background-color: rgba(104, 211, 232, 0.2);
  padding: 15px;
  margin: 15px 1px 15px 1px;
}

nav{
  margin: 15px;
  padding: 15px;
  vertical-align: top;
  float: right;
  background-color: rgba(104, 211, 232, 0.4);
}

.clear { clear: both; }

.names, .repo {
  background-color: rgba(104, 211, 232, 0.1);
  min-height: 80px;
  padding: 8px;
  margin: 5px;
  text-align: left;
}

.name {
  font-size: 0.70em;
}

.repo {
  min-height: 30px;
}

nav ul {
  list-style: none;
}

nav ul li{
  display: inline-block;
}

nav ul li input{
  display: inline-block;
  font-size: 0.85em;
  height: 32px;
}

nav ul li input[type=submit]{
  width: 60px;
}

